:root{
    --color1: #000000;
    --color2: #ffffff;
    --shadow: -5px 5px;
}

.main {
    justijy-content: center;
    max-width: 95%
    padding: 15%;
}
@media (max-width: 900px){
    .main {
        padding: 5px;
    }    
}

* {
    font-family: "Comic Sans MS", "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color2); 
    background-color: var(--color1); 
    line-height: 1.6;
}


header {
    text-align: center;
    padding: 2rem 1rem;
    background-color: var(--color2); 
    color: var(--color1); 

    & img{
        max-width: 150px;
        border-radius: 15px;
        box-shadow: var(--shadow) var(--color1);
    }

    & h1 {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }
    & p {
        font-size: 1rem;
        margin-top: 0.5rem;
        color: var(--color1);
    }
}


.container {
    max-width: 95%;
    margin: 1rem auto;
    padding: 0 1rem;
}


.section {
    display: inline;
    margin-bottom: 3rem;
    & h2 {
        font-size: 1.8rem;
        border-bottom: 2px solid var(--color2); 
    }
    & p {
        margin-bottom: 1rem;
        color: var(--color2); 
    }
}

.projects {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns:  repeat(4, 2fr);
}

@media (max-width: 1200px){
    .projects {
        grid-template-columns:  repeat(3, 1fr);
    }
}

@media (max-width: 900px){
    .projects {
        grid-template-columns:  repeat(2, 1fr);
    }
}
@media (max-width: 400px){
    .projects {
        grid-template-columns: 1fr;
    }
}


.project-card {
    background-color: var(--color1);
    border: 1px solid var(--color2);
    color: var(--color2);
    border-radius: 15px;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--shadow) var(--color2);
    text-decoration: none;
    & h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: var(--color2);
    }
    &  img { 
        width: 150px; 
        border-radius: 8px;
    }
}
.project-card:hover {
    transform: translateY(-5px) scale(1.1) rotateX(-5deg);
    box-shadow: -7px 12px  var(--color2);
}


.info {
    justify-content: left;
    width: 100%;
}

.project-card a:hover {
    color: var(--color2);
}


footer {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
    background-color: var(--color2); 
    color: var(--color1); 
    bottom: 0;
    left: 0;
    &  p {
        font-size: 0.9rem;
    }
    & a {
        color: var(--color1);
        text-decoration: none;
        font-weight: bold;
    }
    & a:hover {
        text-decoration: underline;
    }
}


