:root{
    --color1: #000;
    --color2: #fff;
}


* {
    font-family: "Comic Sans MS", cursive;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color2); /* Texto escuro */
    background-color: var(--color1); /* Fundo branco */
    line-height: 1.6;
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 2rem 1rem;
    background-color: var(--color2); /* Fundo preto */
    color: var(--color1); /* Texto branco */
}

header img{
    max-width: 150px;
    border-radius: 15px;
    box-shadow: -2.5px 2.5px var(--color1);
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

header p {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--color1); /* Cinza claro */
}

/* Container Principal */
.container {
    max-width: 65%;
    margin: 2rem auto;
    padding: 0 1rem;
}

/* Seções */
.section {
    display: inline;
    margin-bottom: 3rem;
}

.section h2 {
    font-size: 1.8rem;
    border-bottom: 2px solid var(--color2); /* Linha de separação preta */
}

.section p {
    margin-bottom: 1rem;
    color: var(--color2); /* Cinza médio */
}

/* Projetos */
.projects {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns:  repeat(4, 2fr);
}

@media (max-width: 1200){
    .projects {
        grid-template-columns:  repeat(3, 1fr);
    }
}

@media (max-width: 900){
    .projects {
        grid-template-columns:  repeat(2, 1fr);
    }
}
@media (max-width: 400){
    .projects {
        grid-template-columns: 1fr;
    }
}


.project-card {
    background-color: var(--color1); /* Fundo claro */
    border: 1px solid var(--color2); /* Borda sutil */
    color: var(--color2);
    border-radius: 15px;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: -5px 5px black;
    text-decoration: none;
    
}
.project-card:hover {
    transform: translateY(-5px) scale(1.1) rotateX(-1deg);
    box-shadow: -7px 12px  black;
}

.project-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--color2);
}

.project-card img { 
    width: 150px; /* Limita o tamanho da imagem */
    border-radius: 8px;
}

.info {
    justify-content: left;
    width: 100%;
}

.project-card a:hover {
    color: var(--color2); /* Cinza médio */
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
    background-color: var(--color2); /* Fundo preto */
    color: var(--color1); /* Texto branco */
    bottom: 0;
    left: 0;
}

footer p {
    font-size: 0.9rem;
}

footer a {
    color: var(--color1);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

