



.ball_after {}

.ball_after::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px);
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 85%);
    pointer-events: none;
    z-index: 0;
}